.square {
  font-size: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:darkblue;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100px;
  border: 4px solid black;
  text-shadow: 2px 2px 4px white;
}

.game-board {
  width: 324px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 6px solid grey;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  color:darkblue;
  text-shadow: 2px 2px 4px white;
}

button {
  width: 120px;
  height: 50px;
  padding: 15px 25px;
  display: flex;
  margin: 50px auto;
  background-color: lightblue;
}

body {
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
