.square {
  font-size: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:darkblue;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100px;
  border: 2px solid black;

}

.game-board {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

h1 {
  text-align: center
}

button {
  width: 120px;
  height: 50px;
  padding: 15px 25px;
  display: flex;
  margin: 50px auto;
  background-color: lightblue;
}

body {
  background-color: ;
}
